@import "tailwindcss";

@theme {
  --color-primary: #545c07;
  --color-dark: #161118;
  --color-text: #8c8789;
  --font-sans: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  110% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 0.5s infinite;
}
